@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

:root {
  --primary-color: #1f1f38;
  --ceondary-color: #49497c;
  --btn-text-color: #4db5ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #1f1f38;
}

/* Utilities */
.clr {
  clear: both;
}

.btn-blue {
  background-color: var(--btn-text-color);
  color: #000;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  transition: all 0.2s linear;
}

.btn-blue:hover {
  background-color: #ddd;
  counter-reset: #000;
}

/* Top Nav bar start */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #1f1f38;
}

header .container {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #49497c;
  position: sticky;
}

header .container .left-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
  line-height: 1.4;
}

header .container .left-item img {
  height: 60px;
  display: inline-block;
}

header .container .left-item h1 {
  display: inline-block;
  font-size: 3rem;
}

header .container .right-item ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem;
  list-style: none;
}

header .container .right-item ul li {
  padding: 1.4rem 2rem;
  /* border-radius: 2rem; */
  transition: all 0.2s ease-in-out;
}


header .container .right-item ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

header .container .right-item ul li:hover {
  background-color: var(--ceondary-color);
}

header .container .right-item ul li:hover a {
  font-weight: bold;
}

/* Top Nav bar End */
/* main Section */

/* About Me section start*/
/* Banner Start */
.banner .container {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.banner .container .img-1 {
  width: 100%;
  height: 100%;
  margin: 50%;
  object-fit: cover;
  border-radius: 80%;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: grab;
}

.banner .container .img-1:hover {
  transform: scale(1.06);
  box-shadow: 0 0 15px 5px var(--ceondary-color);
}

/* Banner end */

/* About Me section Start  */
.about-me {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.about-me .left {
  width: 50%;
  text-align: center;
}

.about-me .left img {
  width: 75%;
  outline: none;
  border: 3px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px #aaa;
  cursor: grab;
}

.about-me .right {
  width: 100%;
  padding: 0 2rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.about-me .right h2 {
  margin: 0.8rem 0;
  width: 7.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--btn-text-color);
}

.about-me .right h3,
p {
  margin: 0.3rem 1rem;
}

.about-me .right .btn-blue {
  margin: 0.8rem;
}

/* About Me section end  */
#skills {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#skills h2 {
  text-align: center;
  font-size: 2rem;
  width: 5rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--btn-text-color);
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.skills .left {
  width: 50%;
}

.skills .left img {
  width: 100%;
}

.skills .right {
  width: 50%;
}

.skills-container {
  width: 100%;
}

.html {
  width: 90%;
  height: .5rem;
  background-color: #e54c21;
  margin: 1rem 0;
  border-radius: 12px;
}

.css {
  width: 80%;
  height: .5rem;
  background-color: #00a0e4;
  margin: 1rem 0;
  border-radius: 12px;
}

.javascript {
  width: 65%;
  height: .5rem;
  background-color: yellow;
  margin: 1rem 0;
  border-radius: 12px;
}

.bootstrap {
  width: 50%;
  height: .5rem;
  background-color: #7952b3;
  margin: 1rem 0;
  border-radius: 12px;
}

.reactjs {
  width: 30%;
  height: .5rem;
  background-color: #61dafb;
  margin: 1rem 0;
  border-radius: 12px;
}

.p-reletive {
  position: relative;
}

.bar {
  margin: 3rem 0;
}

.bar-content {
  position: absolute;
  bottom: 12px;
}

.skills-container .right-skill {
  right: 0;
}

.skills-container .left {
  left: 0;
}